.topic-list-wrapper {
  padding-left: 15px;
  padding-right: 15px;
  text-align: left;
}
.topic-item {
  border: 1px solid #bebebe;
  border-radius: 5px;
  margin-bottom: 5px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.1s;
}

.topic-item:hover {
  background-color: #e6e6e6;
}

.topic-item-dislike {
  margin-left: 5px;
}

.topic-item-like,
.topic-item-dislike {
  padding-right: 5px;
  border-right: 1px solid black;
}
.topic-item-title {
  margin-left: 10px;
  font-weight: bold;
}

.topic-detail-wrapper {
  padding-left: 15px;
  padding-right: 15px;
  text-align: left;
  .topic-detail-title-bar {
    .back-button {
      cursor: pointer;
      color: #337ab7;
      padding: 3px;
    }
    .topic-detail-title {
      font-weight: bold;
    }
  }
  .topic-detail-content {
    border: 1px solid #ccc;
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

.topic-create-wrapper {
  padding-left: 15px;
  padding-right: 15px;
  text-align: left;

  .topic-create-title-bar {
    .back-button {
      cursor: pointer;
      color: #337ab7;
      padding: 3px;
    }
    .topic-create-title {
      font-weight: bold;
    }
  }

  .topic-create-form {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  textarea {
    resize: none;
  }
}
